.idea/
.vagrant/
.sconsign.dblite
.svn/

.DS_Store
*.swp

DerivedData/
build/
GeneratedPluginRegistrant.swift

.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

/Flutter/Generated.xcconfig
/Flutter/Debug.xcconfig
/Flutter/Release.xcconfig
/Flutter/ephemeral/
/Flutter/flutter_export_environment.sh

# Podfile.lock can cause conflicts
Podfile.lock
